<?xml version="1.0"?>
<launch>
    <!-- node pkg="station_gui" name="operator" type="operator_gui.py" output="screen" /-->
    
    <node pkg="station_gui" name="user" type="user_gui.py" output="screen" />
    
    <node name="multiorder" pkg="multiorder_alg" type="multiorder_alg_test" output="screen">
        <rosparam command="load" 
            file = "$(find multiorder_alg)/config/config.yaml" />
    </node>
</launch>
